.light-rays {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 0;
}

.ray {
  position: absolute;
  width: 2px;
  height: 100%;
  background: linear-gradient(
    to bottom,
    transparent,
    var(--ray-color, rgba(255, 255, 255, 0.1)),
    transparent
  );
  opacity: 0.6;
  animation: rayMove 8s ease-in-out infinite;
}

.ray-1 {
  left: 10%;
  animation-delay: 0s;
  height: 80%;
  top: 10%;
}

.ray-2 {
  left: 25%;
  animation-delay: 1s;
  height: 90%;
  top: 5%;
}

.ray-3 {
  left: 40%;
  animation-delay: 2s;
  height: 85%;
  top: 10%;
}

.ray-4 {
  left: 55%;
  animation-delay: 1.5s;
  height: 95%;
  top: 0%;
}

.ray-5 {
  left: 70%;
  animation-delay: 0.5s;
  height: 75%;
  top: 15%;
}

.ray-6 {
  left: 85%;
  animation-delay: 2.5s;
  height: 88%;
  top: 8%;
}

.ray-7 {
  left: 5%;
  animation-delay: 3s;
  height: 70%;
  top: 20%;
}

.ray-8 {
  left: 95%;
  animation-delay: 1.2s;
  height: 82%;
  top: 12%;
}

.light-rays-medium .ray {
  width: 3px;
  opacity: 0.4;
}

.light-rays-strong .ray {
  width: 4px;
  opacity: 0.3;
}

@keyframes rayMove {
  0%, 100% {
    transform: translateX(0) scaleY(1);
    opacity: 0.3;
  }
  25% {
    transform: translateX(10px) scaleY(1.1);
    opacity: 0.6;
  }
  50% {
    transform: translateX(-5px) scaleY(0.9);
    opacity: 0.4;
  }
  75% {
    transform: translateX(5px) scaleY(1.05);
    opacity: 0.5;
  }
}

